nav {
  max-width: 1200px;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 1.5em;
  gap: 3em;
  justify-content: space-evenly;
  font-size: 1rem;
  margin-bottom: -15px;
}

.nav__item > button,
.nav__item > button:hover,
.nav__item > button:focus {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0;
  outline: none !important;
  box-shadow: none;
}

.nav__item {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
}

.nav__link,
.nav__link:hover {
  text-decoration: none;
}

.nav__item:hover {
  color: black;
  text-decoration: none;
}

.nav__item::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 0.5s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
  background: #276688;
  transform-origin: 100% 50%;
}

.nav__item:hover::before {
  transform: scale3d(1, 1, 1);
  transform-origin: 0 50%;
}

.nav-toggle{
    display: none;
}

@media screen and (max-width: 800px){
    header{
        display: flex;
        justify-content: space-between;
        padding: 1em;
    }

    nav{
        position: fixed;
        background:#276688;
        color: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    }

    .nav-open {
        transform: translateX(0%);
    }

    .nav__list {
        list-style: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        padding: 0 0 5em;
        font-weight: 600;
    }

    .nav__link {
        color: black;
        text-decoration: none;
        position: relative;
    }


    .nav-toggle {
        padding: 1em 0 1.5em;
        background: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        z-index: 1000;
        display: block;
    }

    .nav-open .nav-toggle{
        position: fixed;
    }

    .nav-open .hamburger{
        transform: rotate(225deg);
        width: 2em !important;
    }

    .nav-open .hamburger::before{
        transform: rotate(90deg) translateX(7px);
    }
    .nav-open .hamburger::after{
        opacity: 0;
    }

    .hamburger {
        display: block;
        position: relative;
        width: 1.5em !important;
        
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: black;
        width: 2em;
        height: 3px;
        border-radius: 1em;
        transition: transform 250ms ease-in-out;
        transform: rotateY(180deg);
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute; 
        left: 0;
        right: 0;
        
    }

    .hamburger::before { bottom: 7px;}
    .hamburger::after { top: 7px;}

}
